$color-border: #d9d9d9;
$body-background: #eee;

$white: #fff;

$black: #343a40;
$font-color: #2a5b6c;
$shop-bg: #f4f4f4;

$button-item-color: #999;
$button-item-bg: #f2f2f2f2;

$error-color: #b2102f;
