@import url("https://fonts.googleapis.com/css2?family=Martel&family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

$primary-font: "Sriracha", cursive;
$secondary-font: "Martel", serif;
$Roboto-font: "Roboto", sans-serif;
